# Node.js dependencies
node_modules/

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Output files
sample_inputs/output.txt

# System files
.DS_Store
Thumbs.db

# VS Code settings (if you're using it)
.vscode/

# Env files (if any used)
.env
